#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1,h2 {
  color: black;
  text-align: center;
}

#title {
  font-size: 20px;
  color: Black;
}

#description {
  color: Black;
  font-size: 16px;
}

.county {
  transition: all 0.3s ease-in-out !important;
}

.county:hover {
  fill: red !important;
  cursor: pointer;
}

#tooltip {
  position: absolute;
  background: rgba(20, 20, 20, 0.9);
  color: #ffffff;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.footer {
  margin-top: 20px;
  text-align: center;
  color: #bbb;
  font-size: 0.9rem;
  padding: 10px;
}

.footer p {
  margin: 0;
  font-weight: lighter;
}

.footer strong {
  color: white;
}